footer.footer 
    p
        .   
            &copy; 2019-2020 airSlate Inc. All rights reserved. 
            Your use of this site is a subject to 
            #[a(href="#") Terms of Service] and #[a(href="#") Privacy Policy].