.alert.alert_show
    +icon('info', 'alert__ico')
    .alert__text
        .
            Important information about your account:
        ul.list
            li.list__item The first payment you will receive within 60 days from the moment the customer paid for the service.
            li.list__item If the payment is less than $100 we will accumulate the money and add it whenever the amount exeeds.
            li.list__item As a resident of US Arizona state you will have to pay 8.25% taxes.
    span.alert__close
        +icon('close-small', 'alert__close-ico')